src/main/resources/rules.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RULES">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="DATASETA"/>
        <xs:element type="xs:string" name="DATASETB"/>
        <xs:element name="PRIORITY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RULE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PROPERTYA"/>
                    <xs:element type="xs:string" name="PROPERTYB"/>
                    <xs:element name="CONDITION" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IF">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="EXPRESSION"/>
                                <xs:element type="xs:string" name="ACTION"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ELSE" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="ACTION"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="DEFAULT_ACTION"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

