src/main/resources/spec.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SPECIFICATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="INPUTFORMAT"/>
        <xs:element type="xs:string" name="OUTPUTFORMAT"/>
        <xs:element name="LEFT">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="ENDPOINT"/>
              <xs:element type="xs:string" name="FILE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RIGHT">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="ENDPOINT"/>
              <xs:element type="xs:string" name="FILE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LINKS">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="ENDPOINT"/>
              <xs:element type="xs:string" name="FILE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TARGET">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="FILE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
